<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F4M Monitoring</title>

    <!-- style -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <?- include('statistics.ejs', dataStatistics) ?>
    </div>

    <!-- scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>