<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="DefaultConfig">
	<Properties>
		<Property name="f4m.logDir">logs</Property>
		<Property name="f4m.logToFileEnabled">true</Property>
		<Property name="f4m.logLevel">DEBUG</Property>
		<Property name="isThreadContextMapInheritable">true</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d %p [%t-%c] %m %X%n" />
		</Console>
		<RollingRandomAccessFile name="ROLLING_JSON_FILE_APPENDER" fileName="${sys:f4m.logDir}/f4m.log"
								 filePattern="${sys:f4m.logDir}/$${date:yyyy-MM}/f4m-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<JSONLayout compact="true" eventEol="true" properties="true" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10MB"/>
			</Policies>
			<DefaultRolloverStrategy max="1000">
				<Delete basePath="${sys:f4m.logDir}" maxDepth="2">
					<IfFileName glob="*/f4m-*.log*" />
					<IfAccumulatedFileSize exceeds="1GB" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="ROLLING_TEXT_FILE_APPENDER" fileName="${sys:f4m.logDir}/f4m_txt.log"
								 filePattern="${sys:f4m.logDir}/$${date:yyyy-MM}/f4m-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<PatternLayout pattern="%d %p [%t-%c] %m %X%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5">
				<Delete basePath="${sys:f4m.logDir}" maxDepth="2">
					<IfFileName glob="*/f4m_txt-*.log*" />
					<IfAccumulatedFileSize exceeds="50MB" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<Routing name="FILE_ROUTING_JSON_APPENDER">
			<Routes pattern="${sys:f4m.logToFileEnabled}">
				<Route ref="STDOUT" />
				<Route ref="ROLLING_JSON_FILE_APPENDER" key="true" />
			</Routes>
		</Routing>
		<Routing name="FILE_ROUTING_TEXT_APPENDER">
			<Routes pattern="${sys:f4m.logToFileEnabled}">
				<!-- <Route ref="STDOUT" /> only one route to console -->
				<Route ref="ROLLING_TEXT_FILE_APPENDER" key="true" />
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Logger name="de.ascendro.f4m" level="${sys:f4m.logLevel}" />
		<Root level="WARN">
			<AppenderRef ref="FILE_ROUTING_JSON_APPENDER" />
			<AppenderRef ref="FILE_ROUTING_TEXT_APPENDER" />
		</Root>
	</Loggers>
</Configuration>
